@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Viga&display=swap");
.main .main-ships .rocket-table-container .rocket-table .tbody .tr-content::before, .main .main-intelligence .about-container .text .marked::after, .main .main-space .main-space-container .last-releases-content .last-releases-list .last-release-item::before, .main .main-space .main-space-container .last-releases-content .releases-list .last-release-item::before, .main .main-space .main-space-container .releases-content .last-releases-list .last-release-item::before, .main .main-space .main-space-container .releases-content .releases-list .last-release-item::before, .main .main-home .come-learn-container .learn-cards-list::before, .header .header-info .scroll-down .scroll-down-button::after, .header .header-info .scroll-down .scroll-down-button::before, .header .header-info::before, .header .header-info::after, .header .header-bar .header-bar-container .nav-list .nav-list-item::after {
  content: "";
  display: block;
}

.all-container.ships .header .header-info-content.ships, .all-container.intelligence .header .header-info-content.intelligence, .all-container.space .header .header-info-content.space, .all-container.space .header .header-info .scroll-down, .all-container.space .header .header-info, .all-container.home .header .header-info-content.home, .all-container.home .header .header-info .scroll-down, .all-container.home .header .header-info, .main .main-ships, .main .main-intelligence, .main .main-space, .main .main-home {
  animation: appear 1s 1 both;
  display: none;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main .main-space .main-space-container .last-releases-content .last-releases-list .last-release-item::before, .main .main-space .main-space-container .last-releases-content .releases-list .last-release-item::before, .main .main-space .main-space-container .releases-content .last-releases-list .last-release-item::before, .main .main-space .main-space-container .releases-content .releases-list .last-release-item::before, .main .main-home .newsletter-container, .main .main-home .come-learn-container .learn-cards-list .learn-cards-item {
  backdrop-filter: blur(13px);
  background-image: linear-gradient(135deg, rgba(88, 88, 88, 0.75), rgba(97, 97, 97, 0.1) 85%);
  border-radius: 15px;
  border: solid 2px #505050;
}

.main .main-space .main-space-container .releases-content .last-releases-list .last-release-item .button, .main .main-space .main-space-container .releases-content .releases-list .last-release-item .button, .main .main-home .newsletter-container .newsletter-form .form-table .form-table-tr .td-submit input, .main .main-home .come-learn-container .learn-cards-list .learn-cards-item .card-item-button {
  background-image: linear-gradient(90deg, #01eabd, #01ac8b);
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.025em;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.footer .footer-container, .main .main-ships .rocket-table-container, .main .main-ships .main-ships-container, .main .main-intelligence .about-container, .main .main-space .main-space-container, .main .main-home .newsletter-container, .main .main-home .come-learn-container, .main .main-home .birth-container, .header .header-info .header-info-container, .header .header-bar .header-bar-container {
  height: inherit;
  margin: auto;
  max-width: 1100px;
  width: calc(100% - 300px);
}

.main .main-ships .main-ships-container, .main .main-intelligence .about-container .perceptron-container {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  justify-content: center;
  align-items: center;
}
.main .main-ships .long.main-ships-container, .main .main-intelligence .about-container .long.perceptron-container {
  display: block;
  margin-bottom: 120px;
}
.main .main-ships .long.main-ships-container .perceptron-image, .main .main-intelligence .about-container .long.perceptron-container .perceptron-image {
  max-width: initial;
}
.main .main-ships .main-ships-container [class$=-info], .main .main-intelligence .about-container .perceptron-container [class$=-info] {
  max-width: 538px;
}
.main .main-ships .main-ships-container [class$=-image], .main .main-intelligence .about-container .perceptron-container [class$=-image] {
  max-width: 524px;
  overflow: hidden;
}
.main .main-ships .main-ships-container [class$=-image] img, .main .main-intelligence .about-container .perceptron-container [class$=-image] img {
  border-radius: 31px;
}
.main .main-ships .main-ships-container [class$=-image] figcaption, .main .main-intelligence .about-container .perceptron-container [class$=-image] figcaption {
  color: #fff;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.025em;
  margin-top: 15px;
  text-align: center;
}

.header {
  background-color: #0c0c0c;
  padding-top: 100px;
  position: relative;
}
.header .header-bar {
  background-color: rgba(12, 12, 12, 0.9333333333);
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.header .header-bar .header-bar-container {
  align-items: center;
  display: flex;
}
.header .header-bar .header-bar-container .nav-list {
  align-items: center;
  column-gap: 80px;
  display: flex;
  height: inherit;
  width: 100%;
}
.header .header-bar .header-bar-container .nav-list .nav-list-item {
  position: relative;
}
.header .header-bar .header-bar-container .nav-list .nav-list-item:hover::after {
  width: 50%;
}
.header .header-bar .header-bar-container .nav-list .nav-list-item::after {
  background-image: linear-gradient(90deg, #01ac8b 25%, #01eabd 75%);
  bottom: -10px;
  height: 2px;
  position: absolute;
  transition: 0.3s;
  width: 0;
}
.header .header-bar .header-bar-container .nav-list .nav-list-item .text {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.header .header-bar .header-bar-container .toodoo-logo {
  width: 125px;
}
.header .header-info {
  align-items: center;
  background-image: url(../img/bg-screen-home.png);
  background-position-x: right;
  background-position-y: center;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  position: relative;
}
.header .header-info::after {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6666666667) 25%, rgba(0, 0, 0, 0));
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.header .header-info::before {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 75%, #000);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.header .header-info .header-info-container {
  margin: 0 auto;
  margin-top: -150px;
  position: relative;
  z-index: 1;
}
.header .header-info .header-info-container .header-info-content {
  display: none;
  max-width: 584px;
}
.header .header-info .header-info-container .header-info-content.intelligence, .header .header-info .header-info-container .header-info-content.ships {
  align-items: center;
  gap: 50px;
  display: none;
  flex-wrap: wrap;
  max-width: none;
}
.header .header-info .header-info-container .header-info-content.intelligence .neural-networks-image, .header .header-info .header-info-container .header-info-content.intelligence .ships-image, .header .header-info .header-info-container .header-info-content.ships .neural-networks-image, .header .header-info .header-info-container .header-info-content.ships .ships-image {
  border-radius: 50%;
  height: 450px;
  overflow: hidden;
  width: 450px;
}
.header .header-info .header-info-container .header-info-content.intelligence .neural-network-info, .header .header-info .header-info-container .header-info-content.ships .neural-network-info {
  max-width: 350px;
}
.header .header-info .header-info-container .header-info-content .title {
  color: #fff;
  font-family: "Viga", sans-serif;
  font-size: 78px;
  letter-spacing: 0.05em;
  line-height: 105px;
  text-transform: uppercase;
}
.header .header-info .header-info-container .header-info-content .subtitle {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}
.header .header-info .header-info-container .header-info-content .text {
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 25px;
  text-align: left;
}
.header .header-info .header-info-container .header-info-content .blastoff-logo {
  margin-top: 25px;
  width: 150px;
}
.header .header-info .scroll-down {
  bottom: 120px;
  left: 50%;
  margin: auto;
  position: absolute;
  transform: translate(-50%, 0);
  z-index: 1;
}
.header .header-info .scroll-down .text {
  margin-left: 10px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4em;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}
.header .header-info .scroll-down .scroll-down-button {
  border-radius: 50%;
  border: solid 2px #fff;
  cursor: pointer;
  height: 75px;
  margin: 30px auto 0;
  overflow: hidden;
  position: relative;
  width: 75px;
  transition: 0.6s;
}
.header .header-info .scroll-down .scroll-down-button::before {
  background-image: linear-gradient(270deg, #01ac8b 25%, #01eabd 75%);
  height: 100%;
  opacity: 0;
  transition: 0.3s;
  width: 100%;
}
.header .header-info .scroll-down .scroll-down-button::after {
  content: url(../img/arrow-bottom.svg) !important;
  left: 50%;
  top: calc(50% + 8px);
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: 0;
}
.header .header-info .scroll-down .scroll-down-button:hover {
  border-color: #01ac8b;
}
.header .header-info .scroll-down .scroll-down-button:hover::before {
  opacity: 1;
}

.all-container {
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.main {
  background-color: #000;
  padding: 75px 0 150px;
}
.main .subtitle {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.main .title {
  color: #fff;
  font-family: "Viga", sans-serif;
  font-size: 32px;
  letter-spacing: 0.05em;
  margin: 5px 0 15px;
  line-height: 43px;
  text-transform: uppercase;
}
.main .text {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  text-align: justify;
  letter-spacing: 0.025em;
}
.main .text .marked {
  color: #01eabd;
  font-style: italic;
  font-weight: 600;
}
.main .main-home {
  display: none;
}
.main .main-home .birth-container {
  align-items: center;
  column-gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 150px;
  row-gap: 40px;
}
.main .main-home .birth-container .birth-image {
  border-radius: 30px;
  max-width: 510px;
  overflow: hidden;
  width: 100%;
}
.main .main-home .birth-container .birth-info {
  max-width: calc(100% - 560px);
  width: 100%;
}
@media screen and (max-width: 1399px) {
  .main .main-home .birth-container .birth-info {
    max-width: initial;
  }
}
.main .main-home .come-learn-container .learn-cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 55px;
  margin-top: 30px;
  position: relative;
}
.main .main-home .come-learn-container .learn-cards-list::before {
  height: 150px;
  width: 150px;
  background-color: #01eabd;
  border-radius: 50%;
  bottom: 0;
  filter: blur(185px);
  left: 0;
  position: absolute;
  transform: translate(-50%, 50%);
}
.main .main-home .come-learn-container .learn-cards-list .learn-cards-item {
  padding: 37px 27px 16px;
  position: relative;
  width: 260px;
  z-index: 2;
}
.main .main-home .come-learn-container .learn-cards-list .learn-cards-item .figure {
  width: 40px;
}
.main .main-home .come-learn-container .learn-cards-list .learn-cards-item .title {
  font-size: 18px;
  margin: 16px 0;
  line-height: 24px;
}
.main .main-home .come-learn-container .learn-cards-list .learn-cards-item .text {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}
.main .main-home .come-learn-container .learn-cards-list .learn-cards-item .card-item-button {
  width: 205px;
}
.main .main-home .newsletter-container {
  height: 390px;
  padding: 50px;
}
.main .main-home .newsletter-container .title, .main .main-home .newsletter-container .subtitle, .main .main-home .newsletter-container .text {
  margin: auto;
  max-width: 430px;
  text-align: center;
}
.main .main-home .newsletter-container .title {
  line-height: 40px;
  margin: 5px auto;
}
.main .main-home .newsletter-container .newsletter-form {
  margin: 32px auto;
  max-width: 500px;
  width: 100%;
}
.main .main-home .newsletter-container .newsletter-form .form-table {
  display: block;
  width: 100%;
}
.main .main-home .newsletter-container .newsletter-form .form-table tbody {
  display: block;
  width: 100%;
}
.main .main-home .newsletter-container .newsletter-form .form-table .form-table-tr {
  background-color: #565656;
  border-radius: 16px;
  border: solid 1px #01eabd;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}
.main .main-home .newsletter-container .newsletter-form .form-table .form-table-tr .td-input {
  flex-grow: 1;
  height: 60px;
}
.main .main-home .newsletter-container .newsletter-form .form-table .form-table-tr .td-input input {
  background-color: #555;
  border: 0;
  color: #fff;
  font-size: 14px;
  outline: none;
  padding: 20px 15px;
  width: 100%;
}
.main .main-home .newsletter-container .newsletter-form .form-table .form-table-tr .td-submit {
  height: 60px;
}
.main .main-home .newsletter-container .newsletter-form .form-table .form-table-tr .td-submit input {
  border: 0;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
  max-width: 140px;
  outline: none;
  padding: 20px 15px;
  width: 100%;
}
.main .main-space .main-space-container .last-releases-content .last-releases-info .title, .main .main-space .main-space-container .releases-content .last-releases-info .title {
  margin-bottom: 25px;
  width: 415px;
}
.main .main-space .main-space-container .last-releases-content .last-releases-list, .main .main-space .main-space-container .last-releases-content .releases-list, .main .main-space .main-space-container .releases-content .last-releases-list, .main .main-space .main-space-container .releases-content .releases-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.main .main-space .main-space-container .last-releases-content .last-releases-list .last-release-item, .main .main-space .main-space-container .last-releases-content .releases-list .last-release-item, .main .main-space .main-space-container .releases-content .last-releases-list .last-release-item, .main .main-space .main-space-container .releases-content .releases-list .last-release-item {
  height: 285px;
  position: relative;
  width: 260px;
}
.main .main-space .main-space-container .last-releases-content .last-releases-list .last-release-item::before, .main .main-space .main-space-container .last-releases-content .releases-list .last-release-item::before, .main .main-space .main-space-container .releases-content .last-releases-list .last-release-item::before, .main .main-space .main-space-container .releases-content .releases-list .last-release-item::before {
  bottom: 0;
  height: 235px;
  left: 0;
  position: absolute;
  width: 260px;
  z-index: -1;
}
.main .main-space .main-space-container .last-releases-content .last-releases-list .last-release-item .card-image, .main .main-space .main-space-container .last-releases-content .releases-list .last-release-item .card-image, .main .main-space .main-space-container .releases-content .last-releases-list .last-release-item .card-image, .main .main-space .main-space-container .releases-content .releases-list .last-release-item .card-image {
  height: 133px;
  width: 133px;
  margin: 0 auto;
}
.main .main-space .main-space-container .last-releases-content .last-releases-list .last-release-item .ship-status, .main .main-space .main-space-container .last-releases-content .releases-list .last-release-item .ship-status, .main .main-space .main-space-container .releases-content .last-releases-list .last-release-item .ship-status, .main .main-space .main-space-container .releases-content .releases-list .last-release-item .ship-status {
  color: #01eabd;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin: 15px 0 7px;
  text-align: center;
  text-transform: uppercase;
}
.main .main-space .main-space-container .last-releases-content .last-releases-list .last-release-item .name, .main .main-space .main-space-container .last-releases-content .releases-list .last-release-item .name, .main .main-space .main-space-container .releases-content .last-releases-list .last-release-item .name, .main .main-space .main-space-container .releases-content .releases-list .last-release-item .name {
  color: #fff;
  font-family: "Viga", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 24px;
  margin-bottom: 16px;
  text-align: center;
  text-transform: uppercase;
}
.main .main-space .main-space-container .last-releases-content .last-releases-list .last-release-item .ship-info, .main .main-space .main-space-container .last-releases-content .releases-list .last-release-item .ship-info, .main .main-space .main-space-container .releases-content .last-releases-list .last-release-item .ship-info, .main .main-space .main-space-container .releases-content .releases-list .last-release-item .ship-info {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 22px;
  text-align: center;
}
.main .main-space .main-space-container .releases-content {
  margin-top: 150px;
}
.main .main-space .main-space-container .releases-content .last-releases-info .title {
  margin: 0 auto 25px;
  width: fit-content;
}
.main .main-space .main-space-container .releases-content .last-releases-list .last-release-item, .main .main-space .main-space-container .releases-content .releases-list .last-release-item {
  cursor: pointer;
}
.main .main-space .main-space-container .releases-content .last-releases-list .last-release-item.status-inactive, .main .main-space .main-space-container .releases-content .releases-list .last-release-item.status-inactive {
  cursor: initial;
}
.main .main-space .main-space-container .releases-content .last-releases-list .last-release-item.status-inactive .status-active, .main .main-space .main-space-container .releases-content .releases-list .last-release-item.status-inactive .status-active {
  display: none !important;
}
.main .main-space .main-space-container .releases-content .last-releases-list .last-release-item.status-inactive .status-inactive, .main .main-space .main-space-container .releases-content .releases-list .last-release-item.status-inactive .status-inactive {
  display: block !important;
}
.main .main-space .main-space-container .releases-content .last-releases-list .last-release-item .button, .main .main-space .main-space-container .releases-content .releases-list .last-release-item .button {
  border: solid 1px #01eabd;
  margin: 22px auto 0;
  max-width: 205px;
}
.main .main-space .main-space-container .releases-content .last-releases-list .last-release-item .button.status-inactive, .main .main-space .main-space-container .releases-content .releases-list .last-release-item .button.status-inactive {
  background-image: none;
  border: solid 1px #01ac8b;
  color: #01ac8b;
  cursor: context-menu;
  display: none;
}
.main .main-intelligence .title {
  line-height: 43px;
}
.main .main-intelligence .about-container:nth-child(2) {
  margin-top: 120px;
}
.main .main-intelligence .about-container:nth-child(2) .perceptron-container {
  align-items: center;
}
.main .main-intelligence .about-container:nth-child(2).long {
  display: block;
  margin-bottom: 120px;
}
.main .main-intelligence .about-container:nth-child(2).long .perceptron-image {
  max-width: initial;
}
.main .main-intelligence .about-container:nth-child(2) .perceptron-info {
  max-width: 538px;
}
.main .main-intelligence .about-container:nth-child(2) .perceptron-image {
  max-width: 524px;
  overflow: hidden;
}
.main .main-intelligence .about-container:nth-child(2) .perceptron-image img {
  border-radius: 31px;
}
.main .main-intelligence .about-container:nth-child(2) .perceptron-image figcaption {
  color: #fff;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.025em;
  margin-top: 15px;
  text-align: center;
}
.main .main-intelligence .about-container .text.in-between {
  margin: 70px 0 40px;
  text-align: justified;
}
.main .main-intelligence .about-container .text .marked {
  display: inline-block;
  position: relative;
}
.main .main-intelligence .about-container .text .marked:hover::after {
  width: 75%;
}
.main .main-intelligence .about-container .text .marked::after {
  background-image: linear-gradient(90deg, #01ac8b 25%, #01eabd 75%);
  bottom: 0;
  height: 2px;
  position: absolute;
  transition: 0.3s;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main .main-ships .rocket-table-container {
  margin: 60px auto;
}
.main .main-ships .rocket-table-container .title {
  text-align: center;
  margin-bottom: 40px;
}
.main .main-ships .rocket-table-container .rocket-table {
  background-color: #4f4f4f;
  display: block;
}
.main .main-ships .rocket-table-container .rocket-table .tbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  row-gap: 20px;
}
@media screen and (max-width: 920px) {
  .main .main-ships .rocket-table-container .rocket-table .tbody {
    flex-direction: column;
    justify-content: center;
    row-gap: 1px;
  }
}
.main .main-ships .rocket-table-container .rocket-table .tbody .tr-content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.main .main-ships .rocket-table-container .rocket-table .tbody .tr-content::before {
  background-color: #3d3c3c;
  display: block;
  height: 24px;
  left: 50%;
  padding: 9px 0;
  position: absolute;
  top: 0;
  transform: translate(-50%);
  width: 2000%;
}
@media screen and (max-width: 920px) {
  .main .main-ships .rocket-table-container .rocket-table .tbody .tr-content {
    flex-direction: row;
  }
  .main .main-ships .rocket-table-container .rocket-table .tbody .tr-content::before {
    width: 0;
  }
}
.main .main-ships .rocket-table-container .rocket-table .tbody .tr-content .title {
  background-color: #3d3c3c;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 9px 20px;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 920px) {
  .main .main-ships .rocket-table-container .rocket-table .tbody .tr-content .title {
    align-items: center;
    display: flex;
    max-width: 200px;
    text-align: left;
    width: 100%;
  }
}
.main .main-ships .rocket-table-container .rocket-table .tbody .tr-content .text {
  font-size: 14px;
  letter-spacing: 0.025em;
  line-height: 22px;
  margin: 0 auto;
  max-width: 129px;
  padding: 16px;
  text-align: left;
  text-transform: uppercase;
}
@media screen and (max-width: 920px) {
  .main .main-ships .rocket-table-container .rocket-table .tbody .tr-content .text {
    margin: 0;
    align-items: center;
    display: flex;
    max-width: initial;
    text-align: left;
    width: 100%;
  }
}

.footer {
  background-color: #0c0c0c;
  border-top: solid 1px #fff;
  height: 110px;
}
.footer .footer-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footer .footer-container .footer-copy {
  color: #fff;
  font-size: 14px;
}
.footer .footer-container .blastoff-logo {
  width: 150px;
}

.all-container.home .header .header-info {
  display: flex;
  animation-duration: 0.15s;
  background-image: url(../img/bg-screen-home.png);
}
.all-container.home .header .header-info .scroll-down {
  display: block;
}
.all-container.home .header .header-info-content.home {
  display: block;
}
.all-container.home .main-home {
  display: block;
}
.all-container.space .header .header-info {
  animation-duration: 0.15s;
  background-image: url(../img/bg-screen-space.png);
  display: flex;
}
.all-container.space .header .header-info .scroll-down {
  display: block;
}
.all-container.space .header .header-info-content.space {
  display: block;
}
.all-container.space .main-space {
  display: block;
}
.all-container.intelligence .header .header-info {
  background-image: url(../img/bg-screen-intelligence.png);
}
.all-container.intelligence .header .header-info-content.intelligence {
  display: flex;
}
.all-container.intelligence .main-intelligence {
  display: block;
}
.all-container.ships .header .header-info {
  background-image: url(../img/bg-screen-intelligence.png);
}
.all-container.ships .header .header-info-content.ships {
  display: flex;
}
.all-container.ships .main-ships {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
