// limao

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Viga&display=swap");

$bg-header-footer: #0c0c0c;
$bg-header-footer-08: #0c0c0cee;
$color-blue: #090e6c;
$color-green-dark: #01ac8b;
$color-green-light: #01eabd;
$color-red: #e31018;
$font-color: #fff;
$font-inter: "Inter", sans-serif;
$font-rubik: "Rubik", sans-serif;
$font-viga: "Viga", sans-serif;

%container {
  height: inherit;
  margin: auto;
  max-width: 1550px;
  width: calc(100% - 340px);
}
%after-before {
  content: "";
  display: block;
}
// end limao

.header {
  background-color: $bg-header-footer;
  padding-top: 100px;
  position: relative;
  & .header-bar {
    background-color: $bg-header-footer-08;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    & .header-bar-container {
      @extend %container;
      align-items: center;
      display: flex;
      & .nav-list {
        align-items: center;
        column-gap: 80px;
        display: flex;
        height: inherit;
        width: 100%;
        & .nav-list-item {
          position: relative;
          &:hover {
            &::after {
              width: 50%;
            }
          }
          &::after {
            @extend %after-before;
            background-image: linear-gradient(
              to right,
              $color-green-dark 25%,
              $color-green-light 75%
            );
            bottom: -10px;
            height: 2px;
            position: absolute;
            transition: 0.3s;
            width: 0;
          }
          & .text {
            color: $font-color;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
      }

      & .toodoo-logo {
        width: 125px;
      }
    }
  }

  & .header-info {
    align-items: center;
    background-image: url(../img/bg-screen-home.png);
    background-size: cover;
    display: flex;
    min-height: 100vh;
    position: relative;
    &::after {
      @extend %after-before;
      background-image: linear-gradient(90deg, #000a 25%, #0000);
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }
    &::before {
      @extend %after-before;
      background-image: linear-gradient(#0000 75%, #000);
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }
    & .header-info-container {
      @extend %container;
      margin: 0 auto;
      margin-top: -150px;
      position: relative;
      z-index: 1;

      & .header-info-home {
        max-width: 480px;

        & .title {
          color: $font-color;
          font-family: $font-viga;
          font-size: 78px;
          letter-spacing: 0.05em;
          line-height: 105px;
          text-transform: uppercase;
        }
        & .subtitle {
          color: $font-color;
          font-family: $font-rubik;
          font-size: 25px;
          font-weight: 300;
          text-transform: uppercase;
        }
        & .text {
          color: $font-color;
          font-size: 21px;
          font-weight: 400;
          letter-spacing: 0.025em;
          line-height: 25px;
          text-align: left;
        }

        & .blastoff-logo {
          margin-top: 25px;
          width: 150px;
        }
      }
    }
    & .scroll-down {
      bottom: 0;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      z-index: 1;
      
      & .text {
        color: $font-color;
        font-family: $font-rubik;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.4em;
        line-height: 17px;
        text-transform: uppercase;
      }

      & .scroll-down-button {
        border-radius: 50%;
        border: solid 2px $font-color;
        cursor: pointer;
        height: 75px;
        margin: 30px auto;
        overflow: hidden;
        position: relative;
        width: 75px;
        transition: 0.6s;
        &::before {
          @extend %after-before;
          background-image: linear-gradient(
            270deg,
            $color-green-dark 25%,
            $color-green-light 75%
          );
          height: 100%;
          opacity: 0;
          transition: 0.3s;
          width: 100%;
        }
        &::after {
          @extend %after-before;
          content: url(../img/arrow-bottom.svg);
          left: 50%;
          position: absolute;
          top: calc(50% + 5px);
          transform: translate(-50%, -50%);
        }
        &:hover {
          border-color: $color-green-dark;
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}
